@import "tailwindcss";

:root {
  --background: black;
  --foreground: white;
}

@theme inline {
  --color-background: black;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "general", sans-serif;
}

@layer base {
  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }
}

@layer utilities {
  .nav-hover-btn {
    @apply relative ms-10  text-xs uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }
  .hero-heading {
    @apply uppercase  font-black text-5xl sm:right-10 sm:text-3xl md:text-5xl lg:text-7xl;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
